h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}


.footer-logo {
    width: 100px;
    height: 100px;
}

.contactHeading span {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #414141;
}

.contactUs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wp-contact {
    display: flex;
    gap: 10px;
}

.spanDesign {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #414141;
}

.socailMedia {
    display: flex;
    gap: 10px;
}

.col-2,
.col-3,
.col-4,
.stores {
    margin-top: 30px;
}

.col-2 span {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: #414141;
}

.col-2-body {
    width: 170px;
    margin-top: 30px;
}

.col-3-body {
    margin-top: 30px;
}

.col-2-body span {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: #414141;

}

.col-3-body a {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: #414141;
    text-decoration: none;
}

h3 {
    border-bottom: 3px solid #666666;
    padding-bottom: 20px;
    display: inline-block;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #414141;

}



.content {
    height: 80vh;
    background: #ccc;
}

.footer-content-wrapper {
    width: 90%;
    margin: 1em auto;
}

.footer-col {
    display: inline-block;
    padding: 0.5em 0.1em 0.5em 1em;
    box-sizing: border-box;
}

.footer-col:nth-child(4) {
    border: none;
}

.ta-l {
    text-align: left;
}

.flt {
    float: left;
}

.flt:nth-child(4):after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 1em;
    clear: both;
}

.large-25 {
    width: 25%;
}

.footer-col a {
    display: block;
    margin: 0.3em 0;
}

@media (max-width: 550px) {
    .small-50 {
        width: 50%;
    }

    .footer-col:nth-child(2) {
        border: none;
    }
}

@media (max-width: 300px) {
    .tiny-100 {
        width: 100%;
    }

    .footer-col {
        border: none;
    }
}